<div class="custom-container container"> <!-- Smaller container -->
    <div class="card">
        <div class="card-header custom-bg-color text-white text-center"> <!-- Dark gray header -->
            <h2 class="m-0">Ajouter un Produit</h2>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="nomProduit">Nom Produit</label>
                    <input type="text" id="nomProduit" [(ngModel)]="newProduit.nomProduit" name="nomProduit" class="form-control"> <!-- Smaller form fields -->
                </div>

                <div class="form-group">
                    <label for="prixProduit">Prix Produit</label>
                    <input type="number" id="prixProduit" [(ngModel)]="newProduit.prixProduit" name="prixProduit" class="form-control"> <!-- Smaller form fields -->
                </div>
                
                <div class="form-group">
                    <label for="dateCreation">Date création</label>
                    <input type="date" id="dateCreation" [(ngModel)]="newProduit.dateCreation" name="dateCreation" class="form-control"> <!-- Smaller form fields -->
                </div>

                <div class="form-group">
                    <label for="idCat">Categorie</label>
                    <select class="form-control" id="idCat" name="idCat" [(ngModel)]="newIdCat"> <!-- Smaller form fields -->
                        <option *ngFor="let cat of categories" [value]="cat.idCat"> {{cat.nomCat}} </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="logo">Image</label>
                    <input type="file" (change)="onImageUpload($event)" id="logo" name="logo" class="form-control"> <!-- Smaller form fields -->
                </div>

                <div class="form-group text-center">
                    <label class="mb-2">Preview:</label>
                    <img [src]="imagePath" class="img-fluid rounded" style="max-width: 100%; max-height: 200px">
                </div>

                <div class="text-center">
                    <button type="submit" (click)="addProduit()" class="custom-button">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>





